.routerDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    background-color: aqua;
}
.routerChild {
    display: inline-block;
    margin: 10px 10px;
    font-size: 32px;
    padding: 10px 10px;
    font-weight: bolder;
    font-style: italic;
    background-color: cadetblue;
}
.routerActive {
    background-color: bisque;
    color: blue;
}